/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    text-align: center;
}

#main {
    border: 2px solid #000000;
    margin: 0;
    padding: 0;
}

nav {
    border: 2px solid red;
    margin: 0;
    padding: 0;
}

canvas {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 38px;
}

a {
    color: #fff;
}

#FlickrImages img {
    width: 100px;
    height: 100px;
}
aside.layers {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 200px;
    background-color: #242424;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid #999;
    font-size: 12px;
}
aside h2 {
    display: block;
    font-size: 12px;
    font-weight: normal;
    padding: 2px 0px;
    margin: 0px;
}
aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
aside ul li {
    padding: 3px;
    cursor: pointer;
    text-align: left;
}
aside ul li.selected {
    background-color: #5f94e2;
}
aside ul li img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border: 1px solid #999;
}
aside ul li.selected img {
    border: 1px solid #fff;
}
aside ul li h3 {
    display: inline-block;
}
aside ul li .visible {
    float: right;
    margin: 14px 4px 0px 0px;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
}
aside .options {
    border-top: 1px solid #999;
    padding: 4px 0;
}
aside .options span {
    display: inline-block;
    width: 60px;
    text-align: right;
    margin-right: 10px;
}
aside .options select {
    width: 100px;
}
aside .buttons .remove {
    background: transparent url(../img/remove.png) no-repeat top left;
}
aside .buttons .up {
    background: transparent url(../img/up_button.png) no-repeat top left;
}
aside .buttons .down {
    background: transparent url(../img/down_button.png) no-repeat top left;
}
aside .buttons {
    display: block;
    position: relative;
    border-top: 1px solid #999;
    padding: 4px 12px 2px 0px;
    text-align: right;
}
aside .buttons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
aside .buttons ul li {
    display: inline-block;
    margin: 0 2px;
    padding: 0;
    cursor: pointer;
    width: 16px;
    height: 16px;
}
footer.search {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}
.search form {
    width: 220px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    background-color: #5f94e2;
    padding: 4px;
}
.search ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #242424;
    border-top: 1px solid #999;
}
.search ul li {
    display: inline-block;
    margin: 8px 0px 0px 8px;
}
#FlickrImages img, footer ul li img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.about {
    margin: 0 auto;
    width: 718px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom: 2px solid #999;
    border-right: 0px solid #999;
    border-left: 0px solid #999;
    font-size: 12px;
    padding: 4px 0;
    color: #fff;
}